@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");
.container {
  width: 80%;
  margin: auto;
  padding: 0;
}

@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
}
